.banner {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 1rem;
}

.bannerImageContainer {
	padding-top: 2em;
	background: var(--light-2);
	flex: 1 1 auto;
	width: 50%;
	height: 100%;
}

.bannerContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 1 320px;
	width: 50%;
}

.bannerText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titleSectionTwo {
	color: var(--bright-1);
	margin-left: 0.2em;
}

.title {
	margin: 0.5em 0;
	text-align: center;
}

.subtitle {
	margin: 0 0 1em 0;
}

.bannerButton {
	text-align: center;
}
@media screen and (max-width: 802px) {
	.bannerButton {
		display: none;
	}
}
